body {
  min-width: 320px;
  font-family: Arial, sans-serif;
  padding: 0px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 20px 50px;
}
.name {
  padding-left: 60px;
  padding-top: 15px;
  font-size: 25px;
}

.rightSection {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 60px;
  padding-top: 20px;
}
.tools {
  margin-right: 20px;
}
.menu,
.mobile-menu {
  display: none;
}
.Hero-Section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.imgeMySelf {
  margin-right: 70px;
}
.image {
  width: 250px;
  height: 250px;
  border-radius: 150px;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-download {
  background-color: rgb(239, 239, 239);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  margin-right: 12px;
}

.btn-contact {
  background-color: rgb(73, 62, 62);
  color: white;
  border: none;
}

.sum-image {
  margin-top: 20px;
  display: flex;
  gap: 15px; /* بۆشایی نێوان ئایکۆنەکان */
  align-items: center;
}

.social-icon {
  width: 35px;
  height: 35px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }
  .name {
    font-size: 22px;
    padding-left: 0px;
    white-space: nowrap;
  }
  .menu {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 16px;
  }

  .Hero-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 40px;
  }
  .image {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
  }
  .imgeMySelf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    width: 100%;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .rightSection {
    display: none;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #f0f8ff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2.5vw;
    gap: 15px;
    text-align: left;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .mobile-menu.active {
    display: flex;
    flex-direction: column;
  }

  .mobile-tools {
    font-size: 16px;
    cursor: pointer;
    color: #333;
  }
}
